 .Portfolio {
  text-align: center;
}

h1 {
  color: green;
}

.card-img-top {
  width: 30% !important;
  height: 30% !important;
  float: right;
  margin-left: 8px
}

.card-img-group {
  width: 10% !important;
  height: 10% !important;
  float: left;
}

.modify {
  text-align: justify;
}

.list-group {
  text-align: justify;
}

.footer {
  font-size: .875em;
  color: #6c757d;
  text-align: right;
}
